#mainPage {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 30px;
    color: blue;
    text-transform: uppercase;
    text-align: center;
}

.inputField {
    margin: 15px;
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.input {
    height: 40px;
    border-radius: 10px;
}

.document {
    background-color: darkgrey;
    border-radius: 20px;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
}

.submit button {
    width: 92px;
    font-size: large;
    font-weight: bold;
}

.submitClass {
    margin-left: 25px;
}

.submitclass:hover {
    background-color: darkgray;
}

#error {
    color: red;
    margin-left: 10px;
}

body{
    margin: auto;
    width: 80%;
}
table,
tr,
td {
    border: 2px solid;

}

#dashboard {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 25px 25px;
}

.dashboard_content {
    border: 1px solid;
    width: 300px;
    height: 165px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: black;
    background-color: gray;
}
#dashboard_back{
    display: flex;
    justify-content: right;
    margin-top: 30px;
}